<div class="blog">
  <%TransportCaption.all.each do |transport_caption|%>
    <%transport_caption.transport_images.each do |transport_image|%>
      <div class="blog-top">
        <div class="col-in">
          <p>"<%=transport_caption.caption%>"</p>
          <img src="<%= transport_image.stickered_path %>"/>
          Por: <a href="/profile/<%=transport_image.user.id%>"><%=transport_image.user.email%></a>
        </div>
      </div>
    <%end%>
  <%end%>
</div>
