<p id="notice"><%= notice %></p>

<p>
  <strong>Caption:</strong>
  <%= @transport_caption.caption %>
</p>

<%= link_to 'Edit', edit_transport_caption_path(@transport_caption) %> |
<%= link_to 'Back', transport_captions_path %>
